fastapi
uvicorn
pandas
numpy
matplotlib
plotly
openpyxl
requests
requests-cache
retry-requests
openmeteo-requests
xarray
rioxarray
rasterio
geopandas
pystac-client
planetary-computer
stackstac
tqdm
click
Pillow
scipy
pyproj